# macOS
.DS_Store

# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE / editor
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Package artifacts
*.unitypackage
